
  <!-- <section class="ae-container-fluid ae-container-fluid--inner rk-portfolio"> -->
  
    <!-- <div class="content-section"> -->
      <div class="container" *ngFor="let item of productos" >
     
        <div class="card">
            <h1>imagen <small>{{item.imagen}}</small><a [routerLink]="['/item', item.idProductos]">click</a></h1>
            <h2>nombre: <small>{{item.nombre}}</small></h2>
            <h1>producto: <small>{{item.descripcion}}</small></h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipi. Error </p>
            <h2>color: <small>{{item.color.color}}</small></h2>
            <h3>precio: <small>{{item.precio | number}}</small></h3>
            <h4>marca: <small>{{item.marca.marca}}</small></h4>
            
        </div>
      
      </div>
    <!-- </div> -->
            
        
      <!-- </section>  -->
    



