
<section >
  
  <div class="content-section row">
    <div class="col-md-3" *ngFor="let item of productos">
   
    <div class="card">
      <h1><img src="../assets/{{item.imagen}}" alt=""> <small></small><a [routerLink]="['/item', item.idProductos]">click</a></h1>
        <h2>nombre: <small>{{item.nombre}}</small></h2>
        <h1>producto: <small>{{item.descripcion}}</small></h1>
        <!-- <a [routerLink]="['/item', item.idProductos]">click</a> -->
    </div>
  
  </div>
</div>
        
    
  </section> 
