
<div>

  <div class="ae-container-fluid rk-topbar">
    <h1 class="rk-logo">
      <a routerLink="/home"><img class="logo" src="../assets/img/logo.png" alt=""></a>
    </h1>
          
    <h1 class="rk-logo">
      <a routerLink="/home">ConverticShop</a>
    </h1>
  
</div>


<div id="basket" class="col-lg-9">
              <div class="box">
                <form method="post" action="checkout1.html">
                  <h1>Shopping cart</h1>
                  <p class="text-muted">You currently have item(s) in your cart.</p>
                  <div class="table-responsive">
                    <table class="table table-sm">
                      <thead>
                        <tr>
                          <th scope="col">item</th>
                          <th scope="col">codigo del producto</th>
                          <th scope="col">nombre</th>
                          <th scope="col">marca</th>
                          <th scope="col">seccion</th>
                          <th scope="col">precio</th>
                          <th scope="col">cantidad</th>
                          <th scope="col">talla</th>
                          <th scope="col">subtotal</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of carrito;let i = 'index'">
                          <td scope="row">{{i+1}}</td>
                            
                            <td >{{item.productos.idProductos}}</td>
                            
                            <td >{{item.productos.nombre}}</td>
                            
                            <td >{{item.productos.marca.marca}}</td>
                            
                            <td >{{item.productos.genero.genero}}</td>
                            
                            <td >{{item.productos.precio | currency}}</td>
                            
                            <td >{{item.cantidadPedida}}</td>
                            
                            <td >{{item.tallaPedida.talla}}</td>
                            
                  
                            <td >{{item.productos.precio * item.cantidadPedida | currency}}</td>
                            <td> <a (click)="borrar()"  ><img class="eliminar" src="assets/delete.png" alt=""></a></td>
                             <!-- <td><button (click)="borrar()">borrar item</button></td>  -->
                            
                  
                        </tr>
                      </tbody>
                  
                      <tfoot>
                        <tr>
                          <td>total</td>
                          <td><strong>{{ calcularTotal()| currency }}</strong>
                            </td>
                        </tr>
                       </tfoot>
                       
                  
                      
                    </table>
                  </div>
                  <!-- /.table-responsive-->
                  <div class="box-footer d-flex justify-content-between flex-column flex-lg-row">
                    <div class="left"><a routerLink="/home" class="btn btn-outline-secondary"><i class="fa fa-chevron-left"></i> Continue al home</a></div>
                    <div class="right">
                      
                      <button type="submit" class="btn btn-primary" (click)="guardarFactura()">comprar <i class="fa fa-chevron-right"></i></button>
                    </div>
                  </div>
                </form>
              </div>
              <!-- /.box-->
              













<!-- <div class="tabla">

  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">item</th>
        <th scope="col">codigo del producto</th>
        <th scope="col">nombre</th>
        <th scope="col">marca</th>
        <th scope="col">seccion</th>
        <th scope="col">precio</th>
        <th scope="col">cantidad</th>
        <th scope="col">talla</th>
        <th scope="col">subtotal</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of carrito;let i = 'index'">
        <td scope="row">{{i+1}}</td>
          
          <td >{{item.productos.idProductos}}</td>
          
          <td >{{item.productos.nombre}}</td>
          
          <td >{{item.productos.marca.marca}}</td>
          
          <td >{{item.productos.genero.genero}}</td>
          
          <td >{{item.productos.precio | currency}}</td>
          
          <td >{{item.cantidadPedida}}</td>
          
          <td >{{item.tallaPedida.talla}}</td>
          

          <td >{{item.productos.precio * item.cantidadPedida | currency}}</td>
          <a (click)="borrar()"  ><img class="eliminar" src="assets/eliminar.jpg" alt=""></a>  -->
          <!-- <td><button (click)="borrar()">borrar item</button></td> -->
          

       <!-- </tr>
    </tbody>

    <tfoot>
      <tr>
        <td>total</td>
        <td><strong>{{ calcularTotal()| currency }}</strong>
          </td>
      </tr>
     </tfoot>
     

    
  </table>
    <div>

      <button (click)="guardarFactura()">comprar</button>
    </div>




</div>


 -->



