.tabla {
	width: 100px;
	height: 300px;
    display: flex;

    position: relative;
    top: 50%;
    left: 25%;
}

.eliminar{
   height: 25px;  
  width: 5000px;
}

.logo{
  margin-top: -25px;
  height: 100px;
width: 100px;
}