<ng-template #contenido let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Registro</h4>
        
    </div>
    <div class="modal-body">
        <div class="container">

            <form id="signup"  [formGroup]="registroForm">
        
                <div class="col-ms-6 ml-5">
                    <div class="form-group">
                        <label>Tipo de documento</label>
                        <select name="tipoDocumento" id="tipoDocumento" formControlName="tiposDocumentos" class="form-control" >
                        <option [ngValue]="item" *ngFor="let item of tipoDocumento">{{ item.tipoDocumento }}</option></select>
                    </div>
                    <div class="form-group">
                        <label>Número de documento</label>
                        <input type="number" formControlName="numeroDocumento" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Nombres</label>
                        <input type="text" formControlName="nombres" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Apellidos</label>
                        <input type="text" formControlName="apellidos" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" formControlName="correo" class="form-control">
                    </div>
              
                    <div class="form-group">
                        <label>Contraseña</label>
                        <input type="password" formControlName="contrasena"class="form-control" id="clave1">
                    </div>
                    <div class="form-group">
                        <label>confirmacion de Contraseña</label>
                        <input type="password" formControlName="contrasena1"class="form-control" id="clave2">
                    </div>
                    <div>
                      La Contraseña debe contener un carácter especial
                    </div>
                    <div>
                        
                        
                    </div>
                    <div>
                        <br>
                    </div>
                    
                    <div>
        
                        <button type="submit" class="btn btn-dark" (click)="guardar()"  >Registrar</button>
                   </div>
                
                </div>
        
            </form>
        
        </div>
        
    </div>
    
</ng-template>

<div >
    <button type="submit" class="btn btn-outline-primary" (click)="openCentrado(contenido)" >registrarse</button>
</div>



