body {
  
  
    font-family: "Helvetica Neue", Helvetica, Arial;
    padding-top: 20px;
}

.container {
    width: 406px;
    max-width: 406px;
    margin-top: 10px;
    margin-left: 30px;
}

.oscuro .modal-content {
    background-color: #021f2e;
    color: white;
  }
  .oscuro .close {
    color: white;
  }

.azul {
    background-color: #0fa1eb;
  }

  .alerta{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: -250px;
  }
  
 